/*c'est la même pour chaque par du coup je vais le mettre ici pour faciliter les chose*/
@font-face {
    font-family: 'Titre H1';
    src: url('/fonts/panthera.otf');
}
@font-face {
    font-family: 'Titre H2';
    src: url('/fonts/BEYNO.ttf');
}
@font-face {
    font-family: 'Enigme';
    src: url('/fonts/WakandaForever-Regular.ttf');
}
@font-face {
    font-family: 'Texte';
    src: url('/fonts/Cantarell-Regular.ttf');
}

h1{
    font-family: 'Titre H1';
    font-weight: normal;
    font-size: 4.5em;
    color: #DF99F2;
}

h2, h6{
    font-family: 'Titre H2';
    font-weight: normal;
    font-size: 2.3em;
    color: #DF99F2;
}
p{
    font-family: 'Texte';
    font-size: 1.1em;
}
q{
    font-family: 'Texte';
    font-size: 1em;
    font-style: italic;
}

/*biographie*/
h3{
    font-family: 'Texte';
    font-size: 2em;
}

/*formulaire*/
h4{
    font-family: 'Texte';
    font-size: 3em;
    margin: 0;
    padding-bottom: 20px;
}
@media screen and (max-width: 700px){
    h4{
        font-size: 2em;
        margin: 0;
    }
}