/*external fonts*/
@import "/libs/fonts.css";
/*slide*/
@import "/libs/fadein.css";
*{
    font-weight: normal;
    list-style: none;
}

body{
    background-color:#0e1524;
    
}
.logo1{
    margin:0 7%;
}
nav .logo1 img:hover{
    -webkit-filter: grayscale(100%) brightness(200%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(1);
    filter: grayscale(50%) brightness(70%) sepia(100%) hue-rotate(5deg) saturate(500%) contrast(1);
}
.navbar ul{
    position: absolute;
    top: 0%;
    right: 0%;
    list-style: none;
    display: flex;
    align-items: center; 
}
.navbar ul li{
    margin: 0 40px;
}
.navbar ul li a{
    color: rgb(193, 56, 206);
    text-decoration: none;
}
.navbar ul li a:hover{
    color: rgb(255, 255, 255);
    text-decoration:underline;
}
.icone{
    position: absolute;
}
.firstsection .icone ul img:hover{
    -webkit-filter: grayscale(0%) brightness(500%) sepia(50%) hue-rotate(5deg) saturate(500%) contrast(50);
    filter: grayscale(0%) brightness(500%) sepia(500%) hue-rotate(5deg) saturate(0%) contrast(200);
}
h1{
    color:#9E91B7;
    font-size: 60px;
}
h2{
    color:#9E91B7;
    font-size: 43px;
}
p{
    color: white;
}
.black{
    margin: 9%;
    width: 40%;
    font-size: 13px;
}
.pantherhome1 img{
    width: 130%;
    height: 130%;
}
.pantherhome1{
    position:absolute;
    top: 19%;
    right:2%;
    margin-left: 47%;
}
.firstsection{
    height: 100vh;
}
.secondsection{
    background-color:#021740;
    display: flex;
    font-size: .8em;
    height: 300px;
    margin-bottom: 5%;
}
.secondsection .killmonger{
   display: flex;
}
.firdsection{
    width:42%;
    margin: 7%;
}
.firdsection p{
    font-size: 15px;
}
.pantherhome5{
    position: absolute;
    top: 150%;
    right: 10%;
}
.forsection{
    background-color: white;
    width: 20%;
    height: 600px;
    border-radius:5%;
    padding: 10%;
    font-size: 15px;
    position: absolute;
    top: 200%;
    right: 5%;
}
.top{
    position: relative;
    top: 170px;
}
.forsection .bouton{
    display: flex;
}
.forsection div button{
   padding: 2%;
    width: 140px;
    font-size: 10px;
    background-color: #2d61a6;
    border-radius: 5px;
}
.pantherhome6{
    position: absolute;
    top: 330%;
    right: 5%;
}
.Pantherhome7{
    width: 100%;
}
.contacte{
    background-color: white;
    opacity: 0.6;
    width: 50%;
    height: 350px;
    position: absolute;
    top:500%;
    left: 25%;
    border-radius: 30%;
}
.contacte .para{
    margin: 7%;
    text-align: center;
}
input{
    width: 60%;
    border-radius: 15px;
    padding: 2%;
    position: relative;
    left: 15%;
}
.uniq{
    position: relative;
    left:40%;
}
.uniq button{
    width: 20%;
    height: 30px;
    border-radius: 10px;
}
#message{
    width: 60%;
    border-radius: 15px;
    padding: 2%;
    height: 100px;
}
.fivesection img{
    width: 101%;
    height: 130px;
}
footer .foot1 img{
    width: 100%;
    position: absolute;
    top: 560%;
    height: 70%;
}
footer .foot2 img:hover{
    width: 25%;
    transition: 7s;
}
footer .foot2 img{
    position:absolute;
    right: 50%;
    top: 575%;
    width: 20%;
}
footer .foot4{
    position: absolute;
    top: 575%;
    right: 40%;
}
footer .foot5{
    position: absolute;
    top: 575%;
    right: 20%;
}
footer .foot5 ul{
    display:flex;
}
footer .foot5 .liste1{
    background-color:#F2CEF2;
    border-radius: 5px;
}
footer .foot5 .liste2{
    border-radius: 5px;
    background-color:#DF99F2;
}
footer .foot5 .liste3{
    background-color:#3D2DA6;
    border-radius: 5px;
}
footer .foot5 .liste4{
    background-color:#021740;
    border-radius: 5px;
}
.foot3{
    position:absolute;
    top: 595%;
    right: 55%;
}

/*wakanda css*/
.premiersection .second{
    position: absolute;
    top: 40%;
    left: 15%;
}
.premiersection .second p{
    width: 40%;
}
.deuxiemesection{
    position: absolute;
    top: 100%;
}
.deuxiemesection img{
    width: 95%;
    opacity: 0.5;
}
video{
    width: 89%;
}
.troisiemesection{
    width:42%;
   position: absolute;
   top: 135%;
   right: 5%;
}
h3{
    color:#9E91B7;
}
.troisiemesection div img{
    width: 90%;
}







.enigme1{
    display: flex;
    position: absolute;
    top: 0px;
}
.enigme1 h2{
    font-size: 50px;
    position: relative;
    top: 40%;
    left: 15%;
    width: 70%;
}
.enigme1 img{
    width: 150%;
    position: relative;
    top: 0px;
}
.enigme1 p{
    width: 70%;
    position: relative;
    top: 40%;
    left: 25%;
}

/*3em css*/
.premiersection .premier img{
width: 100%;
}
.enigme1 .divp1 .h3{
    color:#9E91B7;
    font-size: 30px;
    margin: 10%;
}
.enigme1 .divp1 ul .res1{
    color: white;
}
.enigme1 .divp1 ul .res0{
    display: flex;
    color: white;
    margin: 1%;
}
.enigme1 .divp1 ul {
    display: flex;
}
.enigme2.enigme3{
 position: absolute;
 top: 50%;
}
.enigme2 .diveni1{
    position: absolute;
    top: 220%;
}
.enigme2 .diveni1 input{
    width: 300px;
    height: 20px;
    background-color: #0e1524;
    border-color:#F2CEF2;
    color: white;
}
.enigme2 .diveni1 button {
    background-color:#F2CEF2 ;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    margin: 5%;
}
@media screen and (max-width:1216px){
    .forsection{
        width: 10%;   
    }
    .pantherhome5 img{
        top: 200%;
        right: 40%;
    }
    .pantherhome6{
        position: absolute;
        top: 370%;
        right: 5%;
    }
}
