/*import, pour pas surchargé le même css avec les mêmes styles*/
/*syles par défauts... navbar et footer*/
@import "/styles/external-libs/par-défaut.css";
@import "/styles/external-libs/footer.css";
@import "/styles/external-libs/navigation.css";
/*fonts... */
@import "/styles/external-libs/fonts.css";
/*et enfin l'animation slide*/
@import "/styles/external-libs/animation.css";
/*scroll bar*/
.scroll{
    position: fixed;
    top: 0;
    left: 30px;
    display: flex;
}
.line-n-1{
    width: 3px;
    height: 340px;
    background: #9E91B7;
}
.line-n{
    margin-left: 5px;
}
.media a img{
    padding: 5px 0;
    transition: .3s filter ease-in-out;
}
.media a img:hover{
    filter: brightness(0) invert(1);
}
.line-n-2{
    width: 3px;
    height: 200px;
    margin-left: 10px;
    background: #9E91B7;
}
/*Première section... intro*/
#first{
    background: url('/images/Accueil/Pantherhome1..png') top right/60% no-repeat;
    height: 130vh;
}
.black-panther{
    padding: 0 0;
    margin: 0 5%;
    width: 40%;
}
/*Deuxième section... genre de carte */
.portrait{
    display: flex;
    background-color: #021740;
    height: 40vh;
}
.personnage{
    display: flex;
}
.text-b{
    padding: 0% 5px;
    text-align: justify;
    font-size: .9em;
}
/*Troisième section*/
.block{
    margin: 5%;
    display: flex;
}
.block-gauche{
    width: 60%;
    text-align: justify;
}
.block-droite{
    width: 40%;
}
/*carte biographie de T'Challa*/
.tchalla{
    position: absolute;
    top: -30%;
    transform: translateX(20%);
}
.tchalla img{
    width: 70%;
}
.bio{
    padding: 50% 20px 10px 20px;
}
.bio h3{
    text-align: center;
}
.descr{
    text-align: center;
    display: flex;
    justify-content: center;
}
.descr p{
    margin: 0 10px;
    color: white;
    background-color: #021740;
    padding: 5px 35px;
    border-radius: 7px;
}
.fond{
    position: relative;
    color: #021740;
    background-color: white;
    border-radius: 30px;
    margin: 30% 10%;
}
.panther img{
    width: 80%;
}
/*Formulaire*/
#formulaire{
    background: url('/images/Accueil/Pantherhome7.png')center no-repeat;
    height: 100vh;
    padding:  20% 25% 5% 25%;
}
.formulaire{
    padding: 50px 0;
    text-align: center;
    background: linear-gradient(to bottom, white, transparent);
    color: #021740;
    border-radius: 70px;
}
input, textarea{
    width: 90%;
    margin: 5px 0;
    padding: 10px 15px;
    background-color: transparent;
    border: 1px solid #021740;
    border-radius: 30px;
}
textarea{
    height: 155px;
}
::placeholder{
    color: #021740;
}
/*boutton...*/
.button{
    margin: 5px 0;
}
button{
    background-color: #F2CEF2;
    border: none;
    border-radius: 20px;
    padding: 15px 45px;
    transition: .5s all ease-in-out;
    cursor: pointer;
}
button:hover{
    filter: drop-shadow(0 0 15px #021740);
}

/*responsive*/
@media screen and (max-width: 900px) {
    /*Première section... intro*/
    #first{
        background: url('/images/Accueil/Pantherhome1..png') top center/80% no-repeat;
        height: 130vh;
    }
    .black-panther{
        text-align: center;
        padding: 45% 15% 0 15%;
        margin: 0;
        width: 100%;
    }
    /*Deuxième section*/
    #second{
        display: none;
    }
    /*Troisième section*/
    .block{
        margin-top: 25%;
        display: block;
        padding: 5%;
    }
    .block-gauche{
        padding: 0 5%;
        width: 100%;
    }
    .block-droite{
        width: 80%;
        margin: 0 auto;
    }
    /*carte biographie de T'Challa*/
    .tchalla{
        position: absolute;
        top: -40%;
        transform: translateX(17%);
    }
    .tchalla img{
        width: 90%;
    }
    .descr p{
        padding: 2%;
    }
    .fond{
        color: #021740;
        margin: 50% 10%;
    }
    .panther img{
        width: 80%;
    }
    /*Formulaire*/
    #formulaire{
        background: url('/images/Accueil/Pantherhome7.png')center no-repeat;
        height: 170vh;
        padding:  20% 15% 5% 15%;
    }
    .formulaire{
        border-radius: 50px;
    }
    input, textarea{
        padding: 10px 20px;
    }
    textarea{
        height: 200px;
    }
    /*boutton...*/
    .button{
        margin: 5px 0;
    }
    button{
        border-radius: 20px;
        padding: 2% 5%;
    }
}
@media screen and (max-width: 700px) {
    .block-droite{
        width: 100%;
        margin: 0 auto;
    }
    /*carte biographie de T'Challa*/
    .tchalla{
        position: absolute;
        top: -20%;
        transform: translateX(17%);
    }
    .tchalla img{
        width: 70%;
    }
    /*Formulaire*/
    #formulaire{
        background: url('/images/Accueil/Pantherhome7.png')center no-repeat;
        height: 170vh;
        padding:  20% 15% 5% 15%;
    }
    .formulaire{
        border-radius: 50px;
    }
    input, textarea{
        padding: 10px 20px;
    }
    textarea{
        height: 200px;
    }
}